<%= form_for(@projectpost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_field :name, placeholder: "What are You Calling It?" %>
		<%= f.text_area :belief, placeholder: "Compose new projectpost..." %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>